a{
size: 18px;
  margin: 0 auto;
color: rgb(224, 224, 224);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    display: flex;
    margin-top: 30px;
    width:943px;
    justify-content: space-around;
    margin-left: 200px;
}
hr{
    width: 943px;
   
}
h1{
    font-family: Gilroy-Bold;
    font-size: 47.3392px;
    line-height: 59px;
    color: #e7e5e5;


}

h3{
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;

/* Black */

color: #e7e5e5;


}
.main{
    background-color: rgb(95, 22, 163);
  display: flex;
  justify-content: space-between;
  width: 943px;
  margin: 0 auto;
}
.main-item{
    width: 200px;
    
    background-color: rgb(95, 22, 163);

}
body{
    background-color: rgb(95, 22, 163);
}
p{
    position: absolute;
left: 46.51%;
right: 42.77%;
top: 7.48%;
bottom: 90.61%;
}
.photo{
    display: flex;
    justify-content: center;
}
img{
    width: 943px;
    
}
