*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.main{
    height: 75vh;
    background-color: rgb(214, 196, 196);
    color: rgb(0, 255, 128);
    font-size: larger;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.header{
    width: 45%;
    margin-left: 20px;
}
.nav{
    width: 45%;
    color: rgb(255, 145, 0);
}
.center{
    width: 45%;
   text-align: center;
}
ul li{
    display: inline;
    list-style-type: none;
    margin: 20px;
    text-align: right;
    
}
a{
    color: antiquewhite;
    text-decoration: none;
}
.link{
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
}
.footer{
    text-align: center;
}